<html>
    <meta charset="utf-8"/>
    <head>
        <script defer="defer" src="http://d3js.org/d3.v3.min.js"></script>
    </head>
    <body>
        <input type="hidden" name="jnglA" id="jnglA" value="{{.JungleA}}" />
        <input type="hidden" name="coordA" id="coordA" value="{{.CoordA}}" />
        <input type="hidden" name="jnglB" id="jnglB" value="{{.JungleB}}" />
        <input type="hidden" name="coordB" id="coordB" value="{{.CoordB}}" />
        <link rel="stylesheet" href="/static/junglers/killmap.css">
        <script defer="defer" src="/static/junglers/killmap.js"></script>
        <div id="map1">
        </div>
        <div id="out1">
        </div>
        <div id="map2">
        </div>
        <div id="out2">
        </div>
    </body>
</html>