<html>
    <meta charset="utf-8"/>
    <head>
        <script defer="defer" src="http://d3js.org/d3.v3.min.js"></script>
    </head>
    <body>
        <input type="hidden" name="coord" id="coord" value="{{.Coord}}" />
        <link rel="stylesheet" href="/static/killmap.css">
        <script defer="defer" src="/static/killmap.js"></script>
        <div id="map">
        </div>
    </body>
</html>